wavelink==3.4.1\nedge-tts>=6.1.0\nredis>=5.2.1\ngoogle-generativeai>=0.3.0\ngtts\npsutil\naiohappyeyeballs==2.6.1\naiohttp==3.11.16\naiosignal==1.3.2\nasync-timeout==5.0.1\nattrs==25.3.0\nblinker==1.9.0\ncertifi==2025.1.31\ncffi==1.17.1\ncharset-normalizer==3.4.1\nuvicorn\nfastapi\nclick==8.1.8\ndiscord.py==2.5.2\ndnspython==2.7.0\nemail_validator==2.2.0\nFlask==3.1.0\nFlask-SQLAlchemy==3.1.1\nfrozenlist==1.5.0\ngreenlet==3.1.1\ngunicorn==23.0.0\nidna==3.10\nitsdangerous==2.2.0\nJinja2==3.1.6\nMarkupSafe==3.0.2\nmultidict==6.4.3\npackaging==24.2\npropcache==0.3.1\npsycopg2-binary==2.9.10\npycparser==2.22\nPyNaCl==1.5.0\npython-dotenv==1.1.0\nrequests==2.32.3\nspotipy==2.25.1\nSQLAlchemy==2.0.40\ntyping_extensions==4.13.2\nurllib3==2.4.0\nmotor>=3.3.0\napscheduler>=3.10.0\npython-dateutil\nicalendar\nWerkzeug==3.1.3\nyarl==1.19.0\nopenai\nyt-dlp\npytz\n